T1 Image

In [1]:
tup1 = ()
tup1

()

In [5]:
tup2=(10,30,60)
tup2

(10, 30, 60)

In [7]:
tup3=(10.77,30.66,60.89)
tup3

(10.77, 30.66, 60.89)

In [9]:
tup4=('one','two',"three")
tup4

('one', 'two', 'three')

In [13]:
tup5=('Asif',25,(50,100),(150,90))
tup5

('Asif', 25, (50, 100), (150, 90))

In [15]:
tup6=(100,'Asif',17.765) 
tup6

(100, 'Asif', 17.765)

In [19]:
tup7=('Asif',25,[50,100],[150,90],{'John','David'},(99,22,33))
tup7

('Asif', 25, [50, 100], [150, 90], {'David', 'John'}, (99, 22, 33))

In [21]:
len(tup7)

6

In [23]:
tup2[0]

10

In [25]:
tup4[0]

'one'

In [27]:
tup4[0][0]

'o'

In [29]:
tup4[-1]

'three'

T2 Image

In [31]:
tup5[-1]

(150, 90)

Tuple Slicing

In [33]:
mytuple=('One','Two','Three','Four','Five','Six','Seven','Eight')
mytuple

('One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight')

In [35]:
mytuple[0:3]

('One', 'Two', 'Three')

In [37]:
mytuple[2:5]

('Three', 'Four', 'Five')

In [39]:
mytuple[:3]

('One', 'Two', 'Three')

In [41]:
mytuple[:2]

('One', 'Two')

In [43]:
mytuple[-3:]

('Six', 'Seven', 'Eight')

In [47]:
mytuple[-2:]

('Seven', 'Eight')

In [49]:
mytuple[-1]

'Eight'

In [51]:
mytuple[:]

('One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight')

Remove & Change Items

In [53]:
mytuple

('One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight')

T3 Image

In [55]:
del mytuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [57]:
del mytuple

In [59]:
mytuple

NameError: name 'mytuple' is not defined

Loop Through Tuple

In [67]:
mytuple=('One','Two','Three','Four','Five','Six','Seven','Eight')
mytuple

('One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight')

In [63]:
for i in mytuple:
    print(i)

One
Two
Three
Four
Five
Six
Seven
Eight

In [65]:
for i in enumerate(mytuple):
    print(i)

(0, 'One')
(1, 'Two')
(2, 'Three')
(3, 'Four')
(4, 'Five')
(5, 'Six')
(6, 'Seven')
(7, 'Eight')

T4 Image

In [96]:
mytuple

('One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight')

In [82]:
'One' in mytuplemytuple.index(

True

In [88]:
if 'Three' in mytuple:
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

Three is present in the tuple

In [90]:
if 'Eleven' in mytuple:
    print('Eleven is present in the tuple')
else:
    print('Eleven is not present in the tuple')

Eleven is not present in the tuple

Index Position

In [92]:
mytuple

('One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight')

In [94]:
mytuple.index('One')

0

T5 Image

In [98]:
mytuple.index('Five')

4

In [100]:
mytuple1

NameError: name 'mytuple1' is not defined

In [102]:
mytuple1=('One','Two','Three','Four','One','One','Two','Three')
mytuple1

('One', 'Two', 'Three', 'Four', 'One', 'One', 'Two', 'Three')

In [107]:
mytuple1.index('One')

0

Sorting

In [109]:
mytuple2=(43,67,99,12,6,90,67)
mytuple2

(43, 67, 99, 12, 6, 90, 67)

In [111]:
sorted(mytuple2)

[6, 12, 43, 67, 67, 90, 99]

In [113]:
sorted(mytuple2, reverse=True)

[99, 90, 67, 67, 43, 12, 6]