# .

In [1]:
myset={1,2,3,4,5}
myset

{1, 2, 3, 4, 5}

In [3]:
len(myset)

5

In [9]:
my_set = {1,1,2,2,3,4,5,5} 
my_set

{1, 2, 3, 4, 5}

In [14]:
myset1 = {1.79,2.08,3.99,4.56,5.45} 
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [16]:
myset2 = {'Asif' , 'John' , 'Tyrion'} 
myset2

{'Asif', 'John', 'Tyrion'}

In [31]:
myset3 = {10,20, "Hola", (11, 22, 32)}
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [33]:
myset3 = {10,20, "Hola", [11, 22, 32]}
myset3

TypeError: unhashable type: 'list'

In [35]:
myset4=set()
myset4

set()

In [27]:
my_set1 = set(('one' , 'two' , 'three' , 'four')) 
my_set1

{'four', 'one', 'three', 'two'}

Loop Through Set

In [37]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
for i in myset:
    print(i)

five
seven
three
eight
one
six
two
four

In [39]:
for i in enumerate(myset):
    print(i)

(0, 'five')
(1, 'seven')
(2, 'three')
(3, 'eight')
(4, 'one')
(5, 'six')
(6, 'two')
(7, 'four')

In [41]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [43]:
'one' in myset

True

In [45]:
'ten' in myset

False

In [47]:
if 'three' in myset:
    print('Three is present in the set') 
else:
    print('Three is not present in the set')

Three is present in the set

In [49]:
if 'eleven' in myset:
    print('Eleven is present in the set') 
else:
    print('Eleven is not present in the set')

Eleven is not present in the set

In [51]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [55]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [57]:
myset.update(['ten', 'eleven', 'twelve'])
myset

{'eight',
 'eleven',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'twelve',
 'two'}

In [59]:
myset.remove('nine')
myset

{'eight',
 'eleven',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'twelve',
 'two'}

In [63]:
myset.discard('Ten')
myset

{'eight',
 'eleven',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'twelve',
 'two'}

In [68]:
myset.clear()
myset

set()

In [70]:
del myset
myset

NameError: name 'myset' is not defined

In [72]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'} 
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [74]:
myset1=myset
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [78]:
id(myset),id(myset1)

(2883511971712, 2883511971712)

In [80]:
my_set = myset.copy()
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [82]:
id(my_set)

2883511971040

In [84]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [86]:
myset1

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [88]:
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

Set operations

In [92]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8} 
C = {8,9,10}

In [94]:
print(A)
print(B)
print(C)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [96]:
A|B

{1, 2, 3, 4, 5, 6, 7, 8}

In [98]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [100]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [102]:
A.update(B,C)

In [104]:
print(A)
print(B)
print(C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [110]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8}

In [112]:
A & B

{4, 5}

In [114]:
A.intersection(B)

{4, 5}

In [120]:
A.intersection_update(B)
A

{4, 5}

In [118]:
print(A)
print(B)

{4, 5}
{4, 5, 6, 7, 8}

In [122]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8}

In [124]:
A-B

{1, 2, 3}

In [126]:
A.difference(B)

{1, 2, 3}

In [128]:
B-A

{6, 7, 8}

In [130]:
B.difference(A)

{6, 7, 8}

In [148]:
B.difference_update(A)
B

{6, 7, 8}

In [146]:
print(A)

{1, 2, 3, 4, 5}

In [170]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8}

In [172]:
A^B

{1, 2, 3, 6, 7, 8}

In [174]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [176]:
A.symmetric_difference_update(B)

In [178]:
A

{1, 2, 3, 6, 7, 8}

In [182]:
A = {1,2,3,4,5,6,7,8,9} 
B = {3,4,5,6,7,8} 
C = {10,20,30,40}

In [184]:
B.issubset(A)

True

In [186]:
A.issuperset(B)

True

In [188]:
C.isdisjoint(A)

True

In [190]:
C.isdisjoint(B)

True

In [192]:
B.isdisjoint(A)

False

Other Builtin Functions

In [194]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [196]:
sum(A)

45

In [198]:
max(A)

9

In [200]:
min(A)

1

In [202]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [204]:
D= sorted(A,reverse=True) 
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [206]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Dictionary

In [208]:
mydict=dict()
mydict

{}

In [210]:
mydict={}
mydict

{}

In [212]:
mydict = {1:'one' , 2:'two' , 3:'three'} 
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [228]:
mydict = dict({1:'one' , 2:'two' , 3:'three'})
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [216]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'}
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [218]:
mydict = {1:'one' , 'A':'two' , 3:'three'}
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [220]:
mydict.keys()

dict_keys([1, 'A', 3])

In [222]:
mydict.values()

dict_values(['one', 'two', 'three'])

In [224]:
mydict.items()

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [226]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} 
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [230]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'], 'B':('Bat' , 'cat', 'hat')}
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [232]:
mydict = {1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age' :20}, 'B':('Bat' , 'cat', 'hat')}
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'asif', 'Age': 20},
 'B': ('Bat', 'cat', 'hat')}

In [234]:
keys = {'a' , 'b' , 'c' , 'd'} 
mydict3 = dict.fromkeys(keys) 
mydict3

{'a': None, 'd': None, 'b': None, 'c': None}

In [236]:
keys = {'a' , 'b' , 'c' , 'd'} 
value=10
mydict3 = dict.fromkeys(keys,value) 
mydict3

{'a': 10, 'd': 10, 'b': 10, 'c': 10}

In [238]:
keys = {'a' , 'b' , 'c' , 'd'} 
value= [10,20,30]
mydict3 = dict.fromkeys(keys,value) 
mydict3

{'a': [10, 20, 30], 'd': [10, 20, 30], 'b': [10, 20, 30], 'c': [10, 20, 30]}

In [240]:
value.append(40)
mydict3

{'a': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'c': [10, 20, 30, 40]}

In [242]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'} 
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [244]:
mydict[1]

'one'

In [248]:
mydict.get(1)

'one'

In [250]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [254]:
mydict1['Name']

'Asif'

In [256]:
mydict1.get('job')

'Analyst'

In [258]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [264]:
mydict1['DOB']=1992
mydict1['Address']='Delhi'
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [266]:
dict1 = {'DOB':1995} 
mydict1.update(dict1) 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [272]:
mydict1['job']='Analyst'
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Delhi',
 'job': 'Analyst'}

In [276]:
mydict1.pop('job')
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [281]:
mydict1.popitem()

('DOB', 1995)

In [283]:
mydict1

{'Name': 'Asif', 'ID': 12345}

In [285]:
del[mydict1['ID']]

In [287]:
mydict1

{'Name': 'Asif'}

In [289]:
mydict1.clear()
mydict1

{}

In [291]:
del mydict1
mydict1

NameError: name 'mydict1' is not defined

In [293]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [295]:
mydict1=mydict

In [297]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [299]:
mydict2=mydict.copy()
mydict2

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [301]:
id(mydict),id(mydict1)

(2883516074688, 2883516074688)

In [303]:
id(mydict2)

2883516482560

In [305]:
mydict['Address']='Mumbai'
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [307]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [309]:
mydict2

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [329]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki' , 'Job': 'Analyst'} 
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'Job': 'Analyst'}

In [339]:
for i in mydict1:
    print(i, ':' ,mydict1[i])

Name : Asif
ID : 12345
DOB : 1991
Address : Hilsinki
Job : Analyst

In [345]:
for i in mydict1:
    print(mydict1[i])

Asif
12345
1991
Hilsinki
Analyst

In [347]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [349]:
'Name' in mydict1

True

In [351]:
'Asif' in mydict1

False

In [353]:
'ID' in mydict1

True

In [357]:
'Address' in mydict1

False

In [359]:
'Job' in mydict1

True

In [361]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [363]:
all(mydict1)

True

In [365]:
any(mydict1)

True